.custom-card {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
  border: 1px solid var(--color-pink);
  color: var(--color-yellow);
  text-align: center;
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.custom-card-img {
  border-bottom: 1px solid var(--color-blue);
}

.custom-card-title {
  color: var(--color-pink);
  text-shadow: 2px 2px var(--color-dark-bg);
}

.custom-rating {
  color: var(--color-yellow);
}

.custom-price {
  color: var(--color-yellow);
}

.custom-card:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo claro con opacidad */
  color: var(--color-dark-purple);
}

.custom-card:hover .custom-card-title {
  color: var(--color-pink);
}

.custom-card:hover .custom-price {
  color: var(--color-dark-purple);
}

.custom-card:hover .custom-card-img {
  border-bottom: 1px solid var(--color-pink);
}

/* productCard.css */

/* Estilo para la tarjeta del producto */
.custom-card {
  position: relative;
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}

/* Estilo para la tarjeta cuando está fuera de stock */
.out-of-stock {
  background-color: #f0f0f0; /* Gris claro */
  color: #666; /* Color de texto más oscuro para el contraste */
  opacity: 0.7; /* Opacidad para indicar que está fuera de stock */
}

/* Estilo para el badge "SIN STOCK" */
.stock-badge {
  position: absolute;
  clip-path: polygon(25% 0, 76% 0, 100% 90%, 0 101%);
  top: -8%; /* Ajusta este valor para posicionar la cinta desde 2/3 del borde superior */
  right: -24%; /* Ajusta este valor para extender la cinta hacia la derecha */
  background-color: #e74c3c; /* Color rojo anaranjado */
  color: white;
  padding: 5px 5px;
  border-radius: 15px; /* Esquinas redondeadas */
  transform: rotate(45deg); /* Rotar la cinta para que se cruce en diagonal */
  transform-origin: 0 0; /* Ajustar el origen de la transformación */
  z-index: 10;
  width: 150px; /* Ajusta el ancho para que la cinta cubra el área deseada */
  height: 40px; /* Ajusta la altura para que la cinta se vea adecuada */
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente si es necesario */
}

/* Eliminar la cinta de promoción cuando el producto está fuera de stock */
.out-of-stock .promo-badge {
  display: none;
}

/* Estilo para la cinta de promoción */
.promo-badge {
  position: absolute;
  clip-path: polygon(26% 0, 76% 0, 100% 90%, 0 101%);
  top: -7%; /* Ajusta este valor para posicionar la cinta desde 2/3 del borde superior */
  right: -23%; /* Ajusta este valor para extender la cinta hacia la derecha */
  background-color: #28a745; /* Color verde */
  color: white;
  padding: 5px 5px;
  border-radius: 15px; /* Esquinas redondeadas solo en el lado izquierdo */
  transform: rotate(45deg); /* Rotar la cinta para que se cruce en diagonal */
  transform-origin: 0 0; /* Ajustar el origen de la transformación */
  z-index: 10;
  width: 150px; /* Ajusta el ancho para que la cinta cubra el área deseada */
  height: 40px; /* Ajusta la altura para que la cinta se vea adecuada */
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente si es necesario */
}

/* Contenedor para los precios */
.price-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo de la tarjeta */
}

/* Precio original tachado */
.original-price {
  text-decoration: line-through;
  color: #888; /* Color gris para el precio original */
  margin-bottom: 5px; /* Espacio entre el precio original y el precio con descuento */
  display: block; /* Hace que el precio original ocupe su propio espacio */
}

/* Precio con descuento */
.discount-price {
  color: #fff; /* Color blanco para el texto del precio con descuento */
  background-color: #28a745; /* Color verde para el fondo */
  font-weight: bold;
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente si es necesario */
  padding: 0.5rem 1rem; /* Espaciado para que el fondo sea visible alrededor del texto */
  border-radius: 5px; /* Bordes redondeados si es deseado */
  display: block; /* Asegura que el fondo cubra el ancho completo */
  width: 100%; /* Hace que el fondo cubra el ancho completo del contenedor */
  box-sizing: border-box; /* Incluye el padding en el ancho total del elemento */
}

/* Solo aplica estilos adicionales si hay descuento */
.price-container.has-discount .original-price {
  display: inline;
}

.price-container.has-discount .discount-price {
  display: inline;
}  

.custom-price {
  color: var(--color-yellow); /* Usa un color definido en tu archivo CSS */
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold; /* Hacer el precio más prominente */
  margin: 0; /* Eliminar márgenes innecesarios */
  padding: 0.5rem 0; /* Espaciado vertical para mejor visualización */
  display: block; /* Asegura que el precio se muestre como un bloque */
}